<!--header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" href="#">䷊ Platform / Harkály Gergő</a>
</header-->
<header class="text-bg-dark border-bottom">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{{ url('admin_index') }}" class="mb-2 mb-lg-0 text-warning text-decoration-none">
                <b class="text-uppercase"><i class="bi bi-stack"></i> {{ app.request.server.get('PLATFORM_NAME') }}</b><br>{{ app.user.defaultInstance.title }}
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mx-5 mb-2 justify-content-center mb-md-0">
            </ul>

            <a class="btn text-white" href="/{{ app.request.locale }}/admin"><i class="bi bi-speedometer2"></i></a>

            <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown">
                    <i class="bi bi-bell"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" data-bs-toggle="dropdown" data-bs-theme="dark">
                    <li><span class="dropdown-item"><i>nincs új értesítés</i></span></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">összes megtekintése</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle" type="button" data-bs-theme="dark" data-bs-toggle="dropdown">
                    <i class="bi bi-calendar"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" data-bs-theme="dark">
                    <li><span class="dropdown-item"><i>nincs új esemény</i></span></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">összes megtekintése</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown">
                    <i class="bi bi-envelope"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" data-bs-theme="dark">
                    <li><span class="dropdown-item"><i>nincs új üzenet</i></span></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">összes megtekintése</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown">
                    <i class="bi bi-translate"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" data-bs-theme="dark">
                    <li><span class="dropdown-item"><a class="text-decoration-none text-white" href="javascript:window.location.href='/en/admin/'">english</a></span></li>
                    <li><span class="dropdown-item"><a class="text-decoration-none text-white" href="javascript:window.location.href='/hu/admin/'">magyar</a></span></li>
                </ul>
            </div>

            <button class="btn text-white" id="view-fullscreen"><i class="bi bi-arrows-fullscreen"></i></button>

            |

            <div class="text-end">
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        {% if app.user.profileImageUrl %}
                            <img alt="account" class="rounded-circle" src="{{ app.user.profileImageUrl }}" style="float:left;margin:0 5px;width:auto;height:50px;">
                        {% endif %}
                        <span>{{ app.user.fullName }}<br><small class="text-white-50 float-start">{{ app.user.position }}</small></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" data-bs-theme="dark">
                        <li><a class="dropdown-item" href="{{ url('account_edit') }}"><i class="bi bi-person"></i> Profil és beállítások</a></li>
                        <li><a class="dropdown-item text-white-50" href="#"><i class="bi bi-briefcase"></i> Vállalkozások és szervezetek</a></li>
                        <li><a class="dropdown-item" href="{{ url('admin_billing_profile') }}"><i class="bi bi-receipt"></i> Számlázási profilok</a></li>
                        <li><a class="dropdown-item" href="{{ url('admin_system_index') }}"><i class="bi bi-gear"></i> Rendszereszközök</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item text-white-50" href="#"><i class="bi bi-question-circle"></i> Támogatás és support</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item text-warning" href="{{ url('admin_logout') }}"><i class="bi bi-box-arrow-right"></i> Kijelentkezés</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
