{% extends 'platform/backend/v1/base.html.twig' %}

{% block main %}
    <div class="row justify-content-center">
        <h1><i class="bi bi-speedometer2"></i> {{ 'admin.dashboard'|trans }}</h1>
        <hr>
        <div class="col-12">
            <h2>Szolgáltatások</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Megnevezés</th>
                    <th>Díj</th>
                    <th>Pénznem</th>
                    <th>Következő fizetési időpont</th>
                </tr>
                </thead>
                <tbody>
                {% for service in app.user.services %}
                    <tr>
                        <td>{{ service.title }}</td>
                        <td>{{ service.price }}</td>
                        <td>{{ service.currency }}</td>
                        <td>{{ service.nextPayment.format('Y-m-d') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
