{% extends 'platform/backend/v1/base.html.twig' %}

{% block main %}
    <div class="row justify-content-center">
        <p><small>Vezérlőpult &raquo; Profil &raquo; Szolgáltatások</small></p>
        <h1><i class="bi bi-speedometer2"></i> {{ 'admin.dashboard'|trans }}</h1>
        <hr>
        <div class="col-12">
            <h2>Szolgáltatások</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Megnevezés</th>
                    <th>Díj</th>
                    <th>Pénznem</th>
                    <th>Következő fizetési időpont</th>
                </tr>
                </thead>
                <tbody>
                {% for service in app.user.services %}
                    <tr>
                        <td>{{ service.title }}</td>
                        <td>{{ service.price }}</td>
                        <td>{{ service.currency }}</td>
                        <td>{{ service.nextPayment.format('Y-m-d') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-xxl-3 col-sm-6">
            <div class="card border-0 box-shadow border-radius-10 mb-4 bg-primary text-white">
                <div class="card-body p-2">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1 me-3 p-3">
                            <h5 class="fw-medium fs-18 mb-1">Teljesített feladatok</h5>
                            <h4 class="fw-medium fs-30 mb-0"><b>8.150</b></h4>
                        </div>
                        <div class="flex-shrink-0 px-1">
                            <div class="crm-icon">
                                <i class="bi bi-list-task" style="font-size:2em;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-sm-6">
            <div class="card border-0 box-shadow border-radius-10 mb-4 bg-success text-white">
                <div class="card-body p-2">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1 me-3 p-3">
                            <h5 class="fw-medium fs-18 mb-1">Értékesítés bevétele</h5>
                            <h4 class="fw-medium fs-30 mb-0"><b>3.650.034</b></h4>
                        </div>
                        <div class="flex-shrink-0 px-1">
                            <div class="crm-icon">
                                <i class="bi bi-currency-dollar" style="font-size:2em;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-sm-6">
            <div class="card border-0 box-shadow border-radius-10 mb-4 bg-danger text-white">
                <div class="card-body p-2">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1 me-3 p-3">
                            <h5 class="fw-medium fs-18 mb-1">Hírlevél feliratkozók száma</h5>
                            <h4 class="fw-medium fs-30 mb-0"><b>3.497</b></h4>
                        </div>
                        <div class="flex-shrink-0 px-1">
                            <div class="crm-icon">
                                <i class="bi bi-envelope-at" style="font-size:2em;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-sm-6">
            <div class="card border-0 box-shadow border-radius-10 mb-4 bg-warning text-white">
                <div class="card-body p-2">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1 me-3 p-3">
                            <h5 class="fw-medium fs-18 mb-1">Látogatók száma</h5>
                            <h4 class="fw-medium fs-30 mb-0"><b>97.482</b></h4>
                        </div>
                        <div class="flex-shrink-0 px-1">
                            <div class="crm-icon">
                                <i class="bi bi-globe2" style="font-size:2em;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card shadow">
                <div class="card-body">
                    <p><b>Teljesítendő feladatok</b></p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Ingatlanbázis megvalósítása</li>
                        <li class="list-group-item">Online időpontfoglaló megvalósítása</li>
                        <li class="list-group-item">Ingatlanbázis megvalósítása</li>
                        <li class="list-group-item">Online időpontfoglaló megvalósítása</li>
                        <li class="list-group-item">Ingatlanbázis megvalósítása</li>
                        <li class="list-group-item">Online időpontfoglaló megvalósítása</li>
                    </ul>
                    <a href="#" class="card-link float-end">összes feladat &raquo;</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 px-1">
            <div class="card shadow">
                <div class="card-body">
                    <p><b>Friss hírek, információk</b></p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Megújult az oldalsáv, a főoldal, mint Vezérlőpult bekerült új menüpontként.</li>
                        <li class="list-group-item">Megjelent a profil szerkesztésének lehetősége, mely az /account/edit URL alatt érhető el.</li>
                    </ul>
                    <a href="#" class="card-link float-end">összes információ &raquo;</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 py-1">
            <div class="card">
                <div class="card-body">
                    <canvas id="chLine"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6 py-1">
            <div class="card">
                <div class="card-body">
                    <canvas id="chBar"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-md-4 py-1">
            <div class="card">
                <div class="card-body">
                    <canvas id="chDonut1"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-1">
            <div class="card">
                <div class="card-body">
                    <canvas id="chDonut2"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-1">
            <div class="card">
                <div class="card-body">
                    <canvas id="chDonut3"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </div>
    </div>

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">Hogy tetszik?</h4>
        <p>Egy ilyen rendszer megtervezése, lefejlesztése, tesztelése és folyamatos karbantartása nem kevés időbe és energiába telik. Ha tetszik, amit látsz, <a target="_blank" rel="nofollow" href="https://www.buymeacoffee.com/harkalygergo">itt meg tudsz hívni egy kávéra</a>, akár már 400 forinttól. Lehet ez egyszeri vagy rendszeres támogatás.</p>
        <hr>
        <p class="mb-0">Ezúton is köszönök mindent!</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endblock %}
