{% extends 'platform/backend/v1/base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-sm-6">
            <h1>{{ title|raw }}</h1>
        </div>
        <div class="col-sm-6 text-end">
            {% if new is not defined or new %}
                <a href="new/" class="btn btn-success"><i class="bi bi-plus-circle-fill"></i> {{ 'global.add new'|trans }}</a>
            {% endif %}
            {% if app.request.get('_route') in app.user.favourites %}
                <a href="/favourites/remove/{{ app.request.get('_route') }}" class="btn btn-danger"><i class="bi bi-heart-fill"></i></a>
            {% else %}
                <a href="/favourites/add/{{ app.request.get('_route') }}" class="btn btn-danger"><i class="bi bi-heart"></i></a>
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    {% if attributes is defined %}
                        {% for attributeKey, attributeValue in attributes %}
                            <th>{{ attributeValue }}</th>
                        {% endfor %}
                    {% else %}
                        <th>Cím</th>
                        <th>Tartalom</th>
                        <th class="text-end">{{ 'date.createdAt'|trans }}</th>
                        <th class="text-end">{{ 'date.updatedAt'|trans }}</th>
                    {% endif %}
                    <th class="text-end">Eszközök</th>
                </tr>
            </thead>
            <tbody>
                {% for data in dataList %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        {% if attributes is defined %}
                            {% for attributeKey, attributeValue in attributes %}
                                <td>
                                    {% if attribute(data, attributeKey) is iterable %}
                                        {% for attribute in attribute(data, attributeKey) %}
                                            {{ attribute }}<br>
                                        {% endfor %}
                                    {% else %}
                                        {{ attribute(data, attributeKey) }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        {% else %}
                            <td>{% if data.title is defined %}{{ data.title }}{% endif %}</td>
                            <td>{% if data.description is defined %}{{ data.description }}{% endif %}</td>
                            <td class="text-end">{% if data.createdAt is defined %}{{ data.createdAt.format('Y-m-d H:i:s') }}{% endif %}</td>
                            <td class="text-end">
                                {% if data.updatedAt is defined and data.updatedAt is not null %}
                                    {{ data.updatedAt.format('Y-m-d H:i:s') }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        {% endif %}
                        <td class="text-end">
                            {% if buttons is defined %}
                                {% for buttonUrl, buttonKey in buttons %}
                                    <a class="btn btn-sm btn-info" href="{{ data.id }}{{ buttonUrl }}">{{ buttonKey }}</a>
                                {% endfor %}
                            {% endif %}
                            {% if edit is not defined or edit %}
                                <a class="btn btn-sm btn-primary" href="edit/{{ data.id }}"><i class="bi bi-pencil"></i> szerkesztés</a>
                            {% endif %}
                            {% if duplicate is not defined or duplicate %}
                                <a class="btn btn-sm btn-warning" href="#"><i class="bi bi-copy"></i> duplikálás</a>
                            {% endif %}
                            <a class="btn btn-sm btn-secondary entity-delete" href="{{ data.id }}/delete"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <small>Összesen: {{ dataList|length }} darab</small>
    </div>
    <script>
        // create an alert validation for click on .entity-delete
        document.querySelectorAll('.entity-delete').forEach(function (element) {
            element.addEventListener('click', function (event) {
                event.preventDefault();
                if (confirm('Biztosan törölni szeretnéd?')) {
                    window.location.href = element.getAttribute('href');
                }
            });
        });
    </script>
{% endblock %}
